pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
shap==0.46.0
jupyter==1.0.0
notebook==7.2.1
kagglehub
tensorflow>=2.13.0
pillow>=10.0.0
opencv-python-headless>=4.8.0
