pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
shap==0.46.0
jupyter==1.0.0
notebook==7.2.1
kagglehub
joblib==1.4.2
fastapi>=0.115.0,<1.0.0
uvicorn[standard]>=0.30.0,<1.0.0
prometheus-client>=0.20.0,<1.0.0
openai>=1.66.0,<3.0.0
